.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Page-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: palevioletred;
}

.pill {
  background-color: #282c34;
  font-weight: bold;
}

.input {
  background-color: #282c34;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: palevioletred;
  max-width: 1500px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn {
  background-color: palevioletred;
  margin: auto;
  padding: 10px;
  margin-left: 50%;
}

body {
  background-color:#282c34
}

.content {
  color: aliceblue;
  font-size: 13px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  max-width: 1000px;
}
.intro {
  color: darkcyan;
  font-size: 17px;
  font-weight: bolder;
}